/* Color Pallette
background-color: #e56b6f;
background-color: #eaac8b;
background-color: #b56576;
background-color: #6d597a;
background-color: #355070;
*/

/* Asterisk wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */

body {
    
    font-family: "Playwrite AR", cursive, Roboto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #355070;
}

/* Header */

header {
    font-family: "Playwrite AR", cursive, Roboto;
    background-color: #e56b6f;
    color: aliceblue;
    font-size: ;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

/* Main */

main {
    font-family: "Playwrite AR", cursive, Roboto;
    background-color: #fff2eb;
    /* Make Main Element take up any surplus space to push footer down */
    flex: 1 0 auto;
}




.one {
    background-color: #b56576;
}


.two {
    background-color: #6d597a;
}

/* Footer */

footer {
    font-family: "Josefin Sans", sans-serif;
    background-color: #355070;
    color: aliceblue;
}