/* Color Pallette
background-color: #e56b6f;
background-color: #eaac8b;
background-color: #b56576;
background-color: #6d597a;
background-color: #355070;
*/

/* Asterisk wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */

body {

    font-family: "Playwrite AR", cursive, Roboto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #355070;
}

/* Header */

header {
    background-color: #e56b6f;
    color: aliceblue;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #b56576;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 32px;
    text-align: center;
    padding-top: .25em;
}

#menu {
    font-size: 110%;
    list-style-type: none;
}

#menu > li {
margin-bottom: .5em;
}

.active {
    border-bottom: 2px solid #355070;
}

/* Main */

main {
    font-family: "Playwrite AR", cursive, Roboto;
    background-color: #fff2eb;
    /* Make Main Element take up any surplus space to push footer down */
    flex: 1 0 auto;
}




.one {
    background-color: #b56576;
}


.two {
    background-color: #6d597a;
}

/* Footer */

footer {
    font-family: "Josefin Sans", sans-serif;
    background-color: #355070;
    color: aliceblue;
}